In [52]:
import pandas as pd
import os

Este notebook transforma os dados do formato original (`./analise-amostragem-imdb-SRS/data/`) para o formato suportado neste trabalho (`./data_formated/`)

In [53]:
approachs = os.listdir("data")
approachs

['approach2.xlsx',
 'approach1.xlsx',
 'random.xlsx',
 'approach4.xlsx',
 'approach3.xlsx',
 'approach5.xlsx']

In [54]:
for approach in approachs:
    df = pd.read_excel("data/" + approach, sheet_name=None)
    for t in df.keys():
        if len(df[t].columns) > 4:
            df[t] = df[t].rename(columns={'Unnamed: 4': "subclassification"})
        else:
            df[t]["subclassification"] = ""
        df[t].insert(4, "classification", df[t]["succeed"].map(lambda x: "VP" if x==0 else "VN"))
        df[t]["obs"] = ""

    with pd.ExcelWriter("data_formated/" + approach) as writer:
        for i, _df in df.items():
            _df.to_excel(writer, sheet_name=i, index=False)

In [34]:
df

,text,label,pred,succeed,classification,subclassification,obs
0,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
1,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
2,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
3,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
4,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
5,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
6,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
7,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
8,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
9,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
10,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
11,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
12,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
13,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
14,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
15,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
16,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
17,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
18,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
19,"Then tonight I decided to see it , the film wa...",1,0,0,VP,TE,
20,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,
21,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,
22,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,
23,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,
24,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,
25,"Then tonight I decided to see it , the film wa...",1,1,1,VN,TE,

In [17]:
df.columns = list(df.columns) + ['subclassification']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [15]:
list(df.columns) + ['subclassification']

['textsubclassification',
 'labelsubclassification',
 'predsubclassification',
 'succeedsubclassification',
 'subclassification']

In [12]:
df

,textsubclassification,labelsubclassification,predsubclassification,succeedsubclassification
0,I picky that the person playing the lesbian wo...,1,0,0
1,I felt that the person playing the lesbian wom...,1,0,0
2,I picky that the person playing the lesbian wo...,1,0,0
3,I saddled that the person playing the lesbian ...,1,0,0
4,I picky that the person playing the lesbian wo...,1,0,0
5,I draws that the person playing the lesbian wo...,1,0,0
6,I agree that the person playing the lesbian wo...,1,0,0
7,I witness that the person playing the lesbian ...,1,1,1
8,I recommend that the person playing the lesbia...,1,1,1
9,I witness that the person playing the lesbian ...,1,1,1
10,I recommend that the person playing the lesbia...,1,1,1
11,I felt that the person playing the lesbian wom...,1,1,1